
@{
    ViewBag.Title = "About";
   

}
<br />

<section id="hero">
            <div class="hero-container ">
                <div class="hero-logo">
                    <img class="" src="~/Content/assets/img/logo.png" alt="Imperial">
                </div>

                <h1>Welcome to Imperial Hotel</h1>
                <div class="wow fadeIn">
                    <h2><span class="typed" data-typed-items="About Us"></span></h2>
                </div>
            </div>

</section>

<br>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">About Us </h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
    </div>

<br />
<section>
    <div class="container about-container wow fadeInUp">
        <div class="row">


            <div class="col-md-8 about-content">
                <h2 class="about-title">Welcome Imperial Hotel , We provide great services and ideass</h2>

                <h3 class="text-black-50">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

                    <!---  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.-->
                </h3>
                <h3 class="text-black-50">
                </h3>

            </div>

            <div class="col-lg-4 about-img">
                <img src="~/Content/assets/img/about-img.png" alt="" style="width:400px ;position:relative">
            </div>

        </div>
    </div>
</section><!-- End About Section -->
