
@{
    ViewBag.Title = "Booking";
}


<br />
<section>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Book Now </h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
    </div>
</section>

<form class="row g-3 border-bottom center-block">

    <div class="container wow fadeInUp">

        <div class="col-md-6">

            <label for="StartDate" class="form-label">StartDate</label>
            <input type="date" class="form-control" id="StartDate">
        </div>
        <br />
        <div class="col-md-6">

            <label for="Diuration" class="form-label">Diuration</label>
            <input type="text" class="form-control" id="Diuration">
        </div>
        <br />
        <div class="col-md-6">
            <select class="form-select ">
                <option selected>Type Of Room </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <br />

        <div class="col-12">
            <button type="submit" class="btn btn-dark">Book Now </button>
        </div>

    </div>
</form>
<br />
<br />
