
@{
    ViewBag.Title = "CreateAcount";
}

<br />
<br />

<section>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Create Acount</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
    </div>
</section>

<form class="row g-3 border-bottom center-block">

    <div class="container wow fadeInUp">

        <div class="col-md-6">

            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name">
        </div>

        <div class="col-md-6">

            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email">
        </div>


        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <br />
        <div class="col-12">
            <button type="submit" class="btn btn-dark">Create New Acount</button>
        </div>
        <div class="col-12">
            <br />
            <h4>
                Already have an account?   <a href="/User/SignIn"> Sign In  </a>
            </h4>

        </div>
    </div>
</form>


