
@{
    ViewBag.Title = "Rooms";
}
<body>
    <div style="width:500px  auto ;height:100px auto">
        <section id="hero">
            <div class="hero-container ">
                <div class="hero-logo">
                    <img class="" src="~/Content/assets/img/logo.png" alt="Imperial">
                </div>

                <h1>Welcome to Imperial Hotel</h1>
                <div class="wow fadeIn">
                    <h2><span class="typed" data-typed-items="Our Rooms"></span></h2>
                </div>
            </div>
        </section>
    </div>
































</body>