
@{
    ViewBag.Title = "services";
}

 <section id="hero">
            <div class="hero-container ">
                <div class="hero-logo">
                    <img class="" src="~/Content/assets/img/logo.png" alt="Imperial">
                </div>

                <h1>Welcome to Imperial Hotel</h1>
                <div class="wow fadeIn">
                    <h2><span class="typed" data-typed-items="Our Services"></span></h2>
                </div>
            </div>
        </section>
<br>
<section id="services">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Our Services</h3>
                <div class="section-title-divider"></div>


            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-wifi"></i></div>
                <h4 class="service-title"><a href="">Free Wi-Fi</a></h4>
                <p class="service-description">The massive investment in a hotel or resort requires constant reviews and control in order to make it a successful investment.</p>
            </div>


            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-sun-o"></i></div>
                <h4 class="service-title"><a href="">Premium Pool</a></h4>
                <p class="service-description">Choose from 4 unique ready made concepts, let us help you create the concept perfect for you or let HCA.</p>
            </div>


            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-coffee"></i></div>
                <h4 class="service-title"><a href="">Coffee Maker</a></h4>
                <p class="service-description">HCA's Owner's Representation is taking care of just these important factors, may it be through regular site visits and spot checks.</p>
            </div>

            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-bars"></i></div>
                <h4 class="service-title"><a href="">Bar Wine</a></h4>
                <p class="service-description">For properties with third party management companies, HCA Consultants will as well administer the terms and conditions.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-hdd-o"></i></div>
                <h4 class="service-title"><a href="">TV HD</a></h4>
                <p class="service-description">We provide a critical analysis of a hotel's marketing strategy, bench-marking it against industry and competitive practices.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <div class="service-icon"><i class="fa fa-resistance"></i></div>
                <h4 class="service-title"><a href=""> Restaurant</a></h4>
                <p class="service-description">A hotel and restaurant investment deserves careful and market oriented financial planning and projections.</p>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
<!-- ======= Subscrbe Section ======= -->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Subscribe For Updates</h3>
                <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
            </div>
            <div class="col-md-4 subscribe-btn-container">
                <a class="subscribe-btn" href="#">Subscribe Now</a>
            </div>
        </div>
    </div>
</section><!-- End Subscrbe Section -->
