
@{
    ViewBag.Title = "SignIn";
}

<br />
<br />

<section>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Sign in </h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
    </div>
</section>

<form class="row g-3">

    <div class="container wow fadeInUp">

        <div class="col-md-6">

            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email">
        </div>


        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <br />

        <div class="col-12">
            <button type="submit" class="btn btn-dark">Sign in</button>
        </div>

        <hr />


        <div class="col-12">
            <h4>
                Don’t have an account?
                <a href="/User/CreateAcount"> Create New Acount </a>
            </h4>

        </div>

    </div>
</form>


