
@{
    ViewBag.Title = "Cancel";
}

@*<style>
    .img-container {
        text-align: center;
    }
</style>*@


<div class="img-container">
    <!-- Block parent element -->
    <img src="~/Content/imges/done.jpg" />
    
</div>
<div>
    <span style="color:green">
        @ViewBag.message
    </span>
</div>




   
